html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-body {
  padding: 20px;
}

.App-status {
  display: inline-block;
  margin-left: 10px;
}

.doneBtn {
  margin-left: 10px;
}
